branches/LimsTongYang01/VSTO/CCFormExcel2010/CCFormExcel2010/Service References/CCForm/CCFormAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerExcelFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frmID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="oid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerExcelFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerExcelFileResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerDBForVSTOExcelFrmModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frmID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="oid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerDBForVSTOExcelFrmModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerDBForVSTOExcelFrmModelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveExcelFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frmID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="oid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mainTableAtParas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDtls">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="byt" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveExcelFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GenerExcelFileSoapIn">
    <wsdl:part name="parameters" element="tns:GenerExcelFile" />
  </wsdl:message>
  <wsdl:message name="GenerExcelFileSoapOut">
    <wsdl:part name="parameters" element="tns:GenerExcelFileResponse" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelSoapIn">
    <wsdl:part name="parameters" element="tns:GenerDBForVSTOExcelFrmModel" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelSoapOut">
    <wsdl:part name="parameters" element="tns:GenerDBForVSTOExcelFrmModelResponse" />
  </wsdl:message>
  <wsdl:message name="SaveExcelFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveExcelFile" />
  </wsdl:message>
  <wsdl:message name="SaveExcelFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveExcelFileResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpGetIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="frmID" type="s:string" />
    <wsdl:part name="oid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpPostIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="frmID" type="s:string" />
    <wsdl:part name="oid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="CCFormAPISoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerExcelFile">
      <wsdl:input message="tns:GenerExcelFileSoapIn" />
      <wsdl:output message="tns:GenerExcelFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <wsdl:input message="tns:GenerDBForVSTOExcelFrmModelSoapIn" />
      <wsdl:output message="tns:GenerDBForVSTOExcelFrmModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveExcelFile">
      <wsdl:input message="tns:SaveExcelFileSoapIn" />
      <wsdl:output message="tns:SaveExcelFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CCFormAPIHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <wsdl:input message="tns:GenerDBForVSTOExcelFrmModelHttpGetIn" />
      <wsdl:output message="tns:GenerDBForVSTOExcelFrmModelHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CCFormAPIHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <wsdl:input message="tns:GenerDBForVSTOExcelFrmModelHttpPostIn" />
      <wsdl:output message="tns:GenerDBForVSTOExcelFrmModelHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCFormAPISoap" type="tns:CCFormAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerExcelFile">
      <soap:operation soapAction="http://tempuri.org/GenerExcelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <soap:operation soapAction="http://tempuri.org/GenerDBForVSTOExcelFrmModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExcelFile">
      <soap:operation soapAction="http://tempuri.org/SaveExcelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormAPISoap12" type="tns:CCFormAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerExcelFile">
      <soap12:operation soapAction="http://tempuri.org/GenerExcelFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <soap12:operation soapAction="http://tempuri.org/GenerDBForVSTOExcelFrmModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExcelFile">
      <soap12:operation soapAction="http://tempuri.org/SaveExcelFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormAPIHttpGet" type="tns:CCFormAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <http:operation location="/GenerDBForVSTOExcelFrmModel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormAPIHttpPost" type="tns:CCFormAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <http:operation location="/GenerDBForVSTOExcelFrmModel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCFormAPI">
    <wsdl:port name="CCFormAPISoap" binding="tns:CCFormAPISoap">
      <soap:address location="http://localhost/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormAPISoap12" binding="tns:CCFormAPISoap12">
      <soap12:address location="http://localhost/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormAPIHttpGet" binding="tns:CCFormAPIHttpGet">
      <http:address location="http://localhost/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormAPIHttpPost" binding="tns:CCFormAPIHttpPost">
      <http:address location="http://localhost/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>