Components/BPPaint/Service References/FF/CCForm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveImageAsFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pkval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fk_Frm_Ele" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveImageAsFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveImageAsFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CfgKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kev" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CfgKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CfgKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFrmTemplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileByte" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fk_mapData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isClear" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFrmTempleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadFrmTempleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFrmTempleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fk_mapData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isClear" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFrmTempleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadFrmTempleteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileByte" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dotype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vals" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveEnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="v3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FtpMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSFTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ensName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSFTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSFTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerFrm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fk_mapdata" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerFrmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerFrmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyFrm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromMapData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fk_mapdata" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isClear" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyFrmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CopyFrmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFrm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFrmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveFrmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEnum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enumKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enumLab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cfg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEnumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveEnumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValInt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValIntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLReturnValIntResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValFloat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValFloatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLReturnValFloatResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseStringToPinyin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseStringToPinyinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParseStringToPinyinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="float" type="s:float" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveImageAsFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveImageAsFile" />
  </wsdl:message>
  <wsdl:message name="SaveImageAsFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveImageAsFileResponse" />
  </wsdl:message>
  <wsdl:message name="CfgKeySoapIn">
    <wsdl:part name="parameters" element="tns:CfgKey" />
  </wsdl:message>
  <wsdl:message name="CfgKeySoapOut">
    <wsdl:part name="parameters" element="tns:CfgKeyResponse" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteSoapIn">
    <wsdl:part name="parameters" element="tns:LoadFrmTemplete" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteSoapOut">
    <wsdl:part name="parameters" element="tns:LoadFrmTempleteResponse" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:LoadFrmTempleteFile" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:LoadFrmTempleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetXmlData" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlDataResponse" />
  </wsdl:message>
  <wsdl:message name="DoTypeSoapIn">
    <wsdl:part name="parameters" element="tns:DoType" />
  </wsdl:message>
  <wsdl:message name="DoTypeSoapOut">
    <wsdl:part name="parameters" element="tns:DoTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveEnSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEn" />
  </wsdl:message>
  <wsdl:message name="SaveEnSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEnResponse" />
  </wsdl:message>
  <wsdl:message name="FtpMethodSoapIn">
    <wsdl:part name="parameters" element="tns:FtpMethod" />
  </wsdl:message>
  <wsdl:message name="FtpMethodSoapOut">
    <wsdl:part name="parameters" element="tns:FtpMethodResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSFTable" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSFTableResponse" />
  </wsdl:message>
  <wsdl:message name="GenerFrmSoapIn">
    <wsdl:part name="parameters" element="tns:GenerFrm" />
  </wsdl:message>
  <wsdl:message name="GenerFrmSoapOut">
    <wsdl:part name="parameters" element="tns:GenerFrmResponse" />
  </wsdl:message>
  <wsdl:message name="CopyFrmSoapIn">
    <wsdl:part name="parameters" element="tns:CopyFrm" />
  </wsdl:message>
  <wsdl:message name="CopyFrmSoapOut">
    <wsdl:part name="parameters" element="tns:CopyFrmResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFrmSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFrm" />
  </wsdl:message>
  <wsdl:message name="SaveFrmSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFrmResponse" />
  </wsdl:message>
  <wsdl:message name="SaveEnumSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEnum" />
  </wsdl:message>
  <wsdl:message name="SaveEnumSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEnumResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQL" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLsSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLs" />
  </wsdl:message>
  <wsdl:message name="RunSQLsSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLsResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnString" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnStringResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValInt" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValIntResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValFloat" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValFloatResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableS" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableSResponse" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinSoapIn">
    <wsdl:part name="parameters" element="tns:ParseStringToPinyin" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinSoapOut">
    <wsdl:part name="parameters" element="tns:ParseStringToPinyinResponse" />
  </wsdl:message>
  <wsdl:message name="SaveImageAsFileHttpGetIn">
    <wsdl:part name="img" type="s1:StringArray" />
    <wsdl:part name="pkval" type="s:string" />
    <wsdl:part name="fk_Frm_Ele" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveImageAsFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpGetIn">
    <wsdl:part name="kev" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteHttpGetIn">
    <wsdl:part name="fileByte" type="s1:StringArray" />
    <wsdl:part name="fk_mapData" type="s:string" />
    <wsdl:part name="isClear" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteFileHttpGetIn">
    <wsdl:part name="file" type="s:string" />
    <wsdl:part name="fk_mapData" type="s:string" />
    <wsdl:part name="isClear" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpGetIn">
    <wsdl:part name="FileByte" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataHttpGetIn">
    <wsdl:part name="xmlFileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DoTypeHttpGetIn">
    <wsdl:part name="dotype" type="s:string" />
    <wsdl:part name="v1" type="s:string" />
    <wsdl:part name="v2" type="s:string" />
    <wsdl:part name="v3" type="s:string" />
    <wsdl:part name="v4" type="s:string" />
    <wsdl:part name="v5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpGetIn">
    <wsdl:part name="vals" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FtpMethodHttpGetIn">
    <wsdl:part name="doType" type="s:string" />
    <wsdl:part name="v1" type="s:string" />
    <wsdl:part name="v2" type="s:string" />
    <wsdl:part name="v3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FtpMethodHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpGetIn">
    <wsdl:part name="ensName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpGetIn">
    <wsdl:part name="fk_mapdata" type="s:string" />
    <wsdl:part name="workID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CopyFrmHttpGetIn">
    <wsdl:part name="fromMapData" type="s:string" />
    <wsdl:part name="fk_mapdata" type="s:string" />
    <wsdl:part name="isClear" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CopyFrmHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpGetIn">
    <wsdl:part name="enumKey" type="s:string" />
    <wsdl:part name="enumLab" type="s:string" />
    <wsdl:part name="cfg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpGetIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpGetIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpGetIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveImageAsFileHttpPostIn">
    <wsdl:part name="img" type="s1:StringArray" />
    <wsdl:part name="pkval" type="s:string" />
    <wsdl:part name="fk_Frm_Ele" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveImageAsFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpPostIn">
    <wsdl:part name="kev" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteHttpPostIn">
    <wsdl:part name="fileByte" type="s1:StringArray" />
    <wsdl:part name="fk_mapData" type="s:string" />
    <wsdl:part name="isClear" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteFileHttpPostIn">
    <wsdl:part name="file" type="s:string" />
    <wsdl:part name="fk_mapData" type="s:string" />
    <wsdl:part name="isClear" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFrmTempleteFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpPostIn">
    <wsdl:part name="FileByte" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataHttpPostIn">
    <wsdl:part name="xmlFileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DoTypeHttpPostIn">
    <wsdl:part name="dotype" type="s:string" />
    <wsdl:part name="v1" type="s:string" />
    <wsdl:part name="v2" type="s:string" />
    <wsdl:part name="v3" type="s:string" />
    <wsdl:part name="v4" type="s:string" />
    <wsdl:part name="v5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpPostIn">
    <wsdl:part name="vals" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FtpMethodHttpPostIn">
    <wsdl:part name="doType" type="s:string" />
    <wsdl:part name="v1" type="s:string" />
    <wsdl:part name="v2" type="s:string" />
    <wsdl:part name="v3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FtpMethodHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpPostIn">
    <wsdl:part name="ensName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpPostIn">
    <wsdl:part name="fk_mapdata" type="s:string" />
    <wsdl:part name="workID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CopyFrmHttpPostIn">
    <wsdl:part name="fromMapData" type="s:string" />
    <wsdl:part name="fk_mapdata" type="s:string" />
    <wsdl:part name="isClear" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CopyFrmHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpPostIn">
    <wsdl:part name="enumKey" type="s:string" />
    <wsdl:part name="enumLab" type="s:string" />
    <wsdl:part name="cfg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpPostIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpPostIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CCFormSoap">
    <wsdl:operation name="SaveImageAsFile">
      <wsdl:input message="tns:SaveImageAsFileSoapIn" />
      <wsdl:output message="tns:SaveImageAsFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <wsdl:input message="tns:CfgKeySoapIn" />
      <wsdl:output message="tns:CfgKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <wsdl:input message="tns:LoadFrmTempleteSoapIn" />
      <wsdl:output message="tns:LoadFrmTempleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <wsdl:input message="tns:LoadFrmTempleteFileSoapIn" />
      <wsdl:output message="tns:LoadFrmTempleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <wsdl:input message="tns:GetXmlDataSoapIn" />
      <wsdl:output message="tns:GetXmlDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <wsdl:input message="tns:DoTypeSoapIn" />
      <wsdl:output message="tns:DoTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <wsdl:input message="tns:SaveEnSoapIn" />
      <wsdl:output message="tns:SaveEnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <wsdl:input message="tns:FtpMethodSoapIn" />
      <wsdl:output message="tns:FtpMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableSoapIn" />
      <wsdl:output message="tns:RequestSFTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <wsdl:input message="tns:GenerFrmSoapIn" />
      <wsdl:output message="tns:GenerFrmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <wsdl:input message="tns:CopyFrmSoapIn" />
      <wsdl:output message="tns:CopyFrmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <wsdl:input message="tns:SaveFrmSoapIn" />
      <wsdl:output message="tns:SaveFrmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <wsdl:input message="tns:SaveEnumSoapIn" />
      <wsdl:output message="tns:SaveEnumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLSoapIn" />
      <wsdl:output message="tns:RunSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsSoapIn" />
      <wsdl:output message="tns:RunSQLsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <wsdl:input message="tns:RunSQLReturnStringSoapIn" />
      <wsdl:output message="tns:RunSQLReturnStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <wsdl:input message="tns:RunSQLReturnValIntSoapIn" />
      <wsdl:output message="tns:RunSQLReturnValIntSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <wsdl:input message="tns:RunSQLReturnValFloatSoapIn" />
      <wsdl:output message="tns:RunSQLReturnValFloatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <wsdl:input message="tns:RunSQLReturnTableSSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <wsdl:input message="tns:ParseStringToPinyinSoapIn" />
      <wsdl:output message="tns:ParseStringToPinyinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CCFormHttpGet">
    <wsdl:operation name="SaveImageAsFile">
      <wsdl:input message="tns:SaveImageAsFileHttpGetIn" />
      <wsdl:output message="tns:SaveImageAsFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <wsdl:input message="tns:CfgKeyHttpGetIn" />
      <wsdl:output message="tns:CfgKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <wsdl:input message="tns:LoadFrmTempleteHttpGetIn" />
      <wsdl:output message="tns:LoadFrmTempleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <wsdl:input message="tns:LoadFrmTempleteFileHttpGetIn" />
      <wsdl:output message="tns:LoadFrmTempleteFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileHttpGetIn" />
      <wsdl:output message="tns:UploadFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <wsdl:input message="tns:GetXmlDataHttpGetIn" />
      <wsdl:output message="tns:GetXmlDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <wsdl:input message="tns:DoTypeHttpGetIn" />
      <wsdl:output message="tns:DoTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <wsdl:input message="tns:SaveEnHttpGetIn" />
      <wsdl:output message="tns:SaveEnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <wsdl:input message="tns:FtpMethodHttpGetIn" />
      <wsdl:output message="tns:FtpMethodHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableHttpGetIn" />
      <wsdl:output message="tns:RequestSFTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <wsdl:input message="tns:GenerFrmHttpGetIn" />
      <wsdl:output message="tns:GenerFrmHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <wsdl:input message="tns:CopyFrmHttpGetIn" />
      <wsdl:output message="tns:CopyFrmHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <wsdl:input message="tns:SaveFrmHttpGetIn" />
      <wsdl:output message="tns:SaveFrmHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <wsdl:input message="tns:SaveEnumHttpGetIn" />
      <wsdl:output message="tns:SaveEnumHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLHttpGetIn" />
      <wsdl:output message="tns:RunSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsHttpGetIn" />
      <wsdl:output message="tns:RunSQLsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <wsdl:input message="tns:RunSQLReturnStringHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnStringHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <wsdl:input message="tns:RunSQLReturnValIntHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnValIntHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <wsdl:input message="tns:RunSQLReturnValFloatHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnValFloatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <wsdl:input message="tns:RunSQLReturnTableSHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnTableSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <wsdl:input message="tns:ParseStringToPinyinHttpGetIn" />
      <wsdl:output message="tns:ParseStringToPinyinHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CCFormHttpPost">
    <wsdl:operation name="SaveImageAsFile">
      <wsdl:input message="tns:SaveImageAsFileHttpPostIn" />
      <wsdl:output message="tns:SaveImageAsFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <wsdl:input message="tns:CfgKeyHttpPostIn" />
      <wsdl:output message="tns:CfgKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <wsdl:input message="tns:LoadFrmTempleteHttpPostIn" />
      <wsdl:output message="tns:LoadFrmTempleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <wsdl:input message="tns:LoadFrmTempleteFileHttpPostIn" />
      <wsdl:output message="tns:LoadFrmTempleteFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileHttpPostIn" />
      <wsdl:output message="tns:UploadFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <wsdl:input message="tns:GetXmlDataHttpPostIn" />
      <wsdl:output message="tns:GetXmlDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <wsdl:input message="tns:DoTypeHttpPostIn" />
      <wsdl:output message="tns:DoTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <wsdl:input message="tns:SaveEnHttpPostIn" />
      <wsdl:output message="tns:SaveEnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <wsdl:input message="tns:FtpMethodHttpPostIn" />
      <wsdl:output message="tns:FtpMethodHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableHttpPostIn" />
      <wsdl:output message="tns:RequestSFTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <wsdl:input message="tns:GenerFrmHttpPostIn" />
      <wsdl:output message="tns:GenerFrmHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <wsdl:input message="tns:CopyFrmHttpPostIn" />
      <wsdl:output message="tns:CopyFrmHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <wsdl:input message="tns:SaveFrmHttpPostIn" />
      <wsdl:output message="tns:SaveFrmHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <wsdl:input message="tns:SaveEnumHttpPostIn" />
      <wsdl:output message="tns:SaveEnumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLHttpPostIn" />
      <wsdl:output message="tns:RunSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsHttpPostIn" />
      <wsdl:output message="tns:RunSQLsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <wsdl:input message="tns:RunSQLReturnStringHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnStringHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <wsdl:input message="tns:RunSQLReturnValIntHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnValIntHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <wsdl:input message="tns:RunSQLReturnValFloatHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnValFloatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <wsdl:input message="tns:RunSQLReturnTableSHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnTableSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <wsdl:input message="tns:ParseStringToPinyinHttpPostIn" />
      <wsdl:output message="tns:ParseStringToPinyinHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCFormSoap" type="tns:CCFormSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveImageAsFile">
      <soap:operation soapAction="http://tempuri.org/SaveImageAsFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <soap:operation soapAction="http://tempuri.org/CfgKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <soap:operation soapAction="http://tempuri.org/LoadFrmTemplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <soap:operation soapAction="http://tempuri.org/LoadFrmTempleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <soap:operation soapAction="http://tempuri.org/GetXmlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <soap:operation soapAction="http://tempuri.org/DoType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <soap:operation soapAction="http://tempuri.org/SaveEn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <soap:operation soapAction="http://tempuri.org/FtpMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <soap:operation soapAction="http://tempuri.org/RequestSFTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <soap:operation soapAction="http://tempuri.org/GenerFrm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <soap:operation soapAction="http://tempuri.org/CopyFrm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <soap:operation soapAction="http://tempuri.org/SaveFrm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <soap:operation soapAction="http://tempuri.org/SaveEnum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <soap:operation soapAction="http://tempuri.org/RunSQLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnValInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnValFloat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTableS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <soap:operation soapAction="http://tempuri.org/ParseStringToPinyin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormSoap12" type="tns:CCFormSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveImageAsFile">
      <soap12:operation soapAction="http://tempuri.org/SaveImageAsFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <soap12:operation soapAction="http://tempuri.org/CfgKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <soap12:operation soapAction="http://tempuri.org/LoadFrmTemplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <soap12:operation soapAction="http://tempuri.org/LoadFrmTempleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <soap12:operation soapAction="http://tempuri.org/GetXmlData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <soap12:operation soapAction="http://tempuri.org/DoType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <soap12:operation soapAction="http://tempuri.org/SaveEn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <soap12:operation soapAction="http://tempuri.org/FtpMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <soap12:operation soapAction="http://tempuri.org/RequestSFTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <soap12:operation soapAction="http://tempuri.org/GenerFrm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <soap12:operation soapAction="http://tempuri.org/CopyFrm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <soap12:operation soapAction="http://tempuri.org/SaveFrm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <soap12:operation soapAction="http://tempuri.org/SaveEnum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap12:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <soap12:operation soapAction="http://tempuri.org/RunSQLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnValInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnValFloat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTableS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <soap12:operation soapAction="http://tempuri.org/ParseStringToPinyin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormHttpGet" type="tns:CCFormHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SaveImageAsFile">
      <http:operation location="/SaveImageAsFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <http:operation location="/CfgKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <http:operation location="/LoadFrmTemplete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <http:operation location="/LoadFrmTempleteFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <http:operation location="/UploadFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <http:operation location="/GetXmlData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <http:operation location="/DoType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <http:operation location="/SaveEn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <http:operation location="/FtpMethod" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <http:operation location="/RequestSFTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <http:operation location="/GenerFrm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <http:operation location="/CopyFrm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <http:operation location="/SaveFrm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <http:operation location="/SaveEnum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <http:operation location="/RunSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <http:operation location="/RunSQLs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <http:operation location="/RunSQLReturnString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <http:operation location="/RunSQLReturnValInt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <http:operation location="/RunSQLReturnValFloat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <http:operation location="/RunSQLReturnTableS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <http:operation location="/ParseStringToPinyin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormHttpPost" type="tns:CCFormHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SaveImageAsFile">
      <http:operation location="/SaveImageAsFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <http:operation location="/CfgKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTemplete">
      <http:operation location="/LoadFrmTemplete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFrmTempleteFile">
      <http:operation location="/LoadFrmTempleteFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <http:operation location="/UploadFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <http:operation location="/GetXmlData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoType">
      <http:operation location="/DoType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <http:operation location="/SaveEn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpMethod">
      <http:operation location="/FtpMethod" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <http:operation location="/RequestSFTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <http:operation location="/GenerFrm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFrm">
      <http:operation location="/CopyFrm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <http:operation location="/SaveFrm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <http:operation location="/SaveEnum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <http:operation location="/RunSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <http:operation location="/RunSQLs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <http:operation location="/RunSQLReturnString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <http:operation location="/RunSQLReturnValInt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <http:operation location="/RunSQLReturnValFloat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <http:operation location="/RunSQLReturnTableS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <http:operation location="/ParseStringToPinyin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCForm">
    <wsdl:port name="CCFormSoap" binding="tns:CCFormSoap">
      <soap:address location="http://localhost/ccflow/WF/MapDef/CCForm/CCForm.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormSoap12" binding="tns:CCFormSoap12">
      <soap12:address location="http://localhost/ccflow/WF/MapDef/CCForm/CCForm.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormHttpGet" binding="tns:CCFormHttpGet">
      <http:address location="http://localhost/ccflow/WF/MapDef/CCForm/CCForm.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormHttpPost" binding="tns:CCFormHttpPost">
      <http:address location="http://localhost/ccflow/WF/MapDef/CCForm/CCForm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>