VSTO/CCFormExcel2013/CCFormExcel2013/Service References/CCForm/CCFormAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerExcelFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frmID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerExcelFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerExcelFileResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerDBForVSTOExcelFrmModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frmID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="atParas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerDBForVSTOExcelFrmModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerDBForVSTOExcelFrmModelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveExcelFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frmID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mainTableAtParas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDtlsChange">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dsDtlsOld">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="byt" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveExcelFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="MapExtGenerAcitviDDLDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mapExtMyPK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cheaneKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MapExtGenerAcitviDDLDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MapExtGenerAcitviDDLDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVstoExtensionVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVstoExtensionVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVstoExtensionVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerExcelFileSoapIn">
    <wsdl:part name="parameters" element="tns:GenerExcelFile" />
  </wsdl:message>
  <wsdl:message name="GenerExcelFileSoapOut">
    <wsdl:part name="parameters" element="tns:GenerExcelFileResponse" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelSoapIn">
    <wsdl:part name="parameters" element="tns:GenerDBForVSTOExcelFrmModel" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelSoapOut">
    <wsdl:part name="parameters" element="tns:GenerDBForVSTOExcelFrmModelResponse" />
  </wsdl:message>
  <wsdl:message name="SaveExcelFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveExcelFile" />
  </wsdl:message>
  <wsdl:message name="SaveExcelFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveExcelFileResponse" />
  </wsdl:message>
  <wsdl:message name="MapExtGenerAcitviDDLDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:MapExtGenerAcitviDDLDataTable" />
  </wsdl:message>
  <wsdl:message name="MapExtGenerAcitviDDLDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:MapExtGenerAcitviDDLDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetVstoExtensionVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVstoExtensionVersion" />
  </wsdl:message>
  <wsdl:message name="GetVstoExtensionVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVstoExtensionVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpGetIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="frmID" type="s:string" />
    <wsdl:part name="pkValue" type="s:string" />
    <wsdl:part name="atParas" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="MapExtGenerAcitviDDLDataTableHttpGetIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="pkValue" type="s:string" />
    <wsdl:part name="mapExtMyPK" type="s:string" />
    <wsdl:part name="cheaneKey" type="s:string" />
    <wsdl:part name="paras" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MapExtGenerAcitviDDLDataTableHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetVstoExtensionVersionHttpGetIn" />
  <wsdl:message name="GetVstoExtensionVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpPostIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="frmID" type="s:string" />
    <wsdl:part name="pkValue" type="s:string" />
    <wsdl:part name="atParas" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerDBForVSTOExcelFrmModelHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="MapExtGenerAcitviDDLDataTableHttpPostIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="pkValue" type="s:string" />
    <wsdl:part name="mapExtMyPK" type="s:string" />
    <wsdl:part name="cheaneKey" type="s:string" />
    <wsdl:part name="paras" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MapExtGenerAcitviDDLDataTableHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetVstoExtensionVersionHttpPostIn" />
  <wsdl:message name="GetVstoExtensionVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CCFormAPISoap">
    <wsdl:operation name="GenerExcelFile">
      <wsdl:input message="tns:GenerExcelFileSoapIn" />
      <wsdl:output message="tns:GenerExcelFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <wsdl:input message="tns:GenerDBForVSTOExcelFrmModelSoapIn" />
      <wsdl:output message="tns:GenerDBForVSTOExcelFrmModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveExcelFile">
      <wsdl:input message="tns:SaveExcelFileSoapIn" />
      <wsdl:output message="tns:SaveExcelFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <wsdl:input message="tns:MapExtGenerAcitviDDLDataTableSoapIn" />
      <wsdl:output message="tns:MapExtGenerAcitviDDLDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <wsdl:input message="tns:GetVstoExtensionVersionSoapIn" />
      <wsdl:output message="tns:GetVstoExtensionVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CCFormAPIHttpGet">
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <wsdl:input message="tns:GenerDBForVSTOExcelFrmModelHttpGetIn" />
      <wsdl:output message="tns:GenerDBForVSTOExcelFrmModelHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <wsdl:input message="tns:MapExtGenerAcitviDDLDataTableHttpGetIn" />
      <wsdl:output message="tns:MapExtGenerAcitviDDLDataTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <wsdl:input message="tns:GetVstoExtensionVersionHttpGetIn" />
      <wsdl:output message="tns:GetVstoExtensionVersionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CCFormAPIHttpPost">
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <wsdl:input message="tns:GenerDBForVSTOExcelFrmModelHttpPostIn" />
      <wsdl:output message="tns:GenerDBForVSTOExcelFrmModelHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <wsdl:input message="tns:MapExtGenerAcitviDDLDataTableHttpPostIn" />
      <wsdl:output message="tns:MapExtGenerAcitviDDLDataTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <wsdl:input message="tns:GetVstoExtensionVersionHttpPostIn" />
      <wsdl:output message="tns:GetVstoExtensionVersionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCFormAPISoap" type="tns:CCFormAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerExcelFile">
      <soap:operation soapAction="http://tempuri.org/GenerExcelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <soap:operation soapAction="http://tempuri.org/GenerDBForVSTOExcelFrmModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExcelFile">
      <soap:operation soapAction="http://tempuri.org/SaveExcelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <soap:operation soapAction="http://tempuri.org/MapExtGenerAcitviDDLDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <soap:operation soapAction="http://tempuri.org/GetVstoExtensionVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormAPISoap12" type="tns:CCFormAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerExcelFile">
      <soap12:operation soapAction="http://tempuri.org/GenerExcelFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <soap12:operation soapAction="http://tempuri.org/GenerDBForVSTOExcelFrmModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExcelFile">
      <soap12:operation soapAction="http://tempuri.org/SaveExcelFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <soap12:operation soapAction="http://tempuri.org/MapExtGenerAcitviDDLDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <soap12:operation soapAction="http://tempuri.org/GetVstoExtensionVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormAPIHttpGet" type="tns:CCFormAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <http:operation location="/GenerDBForVSTOExcelFrmModel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <http:operation location="/MapExtGenerAcitviDDLDataTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <http:operation location="/GetVstoExtensionVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCFormAPIHttpPost" type="tns:CCFormAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GenerDBForVSTOExcelFrmModel">
      <http:operation location="/GenerDBForVSTOExcelFrmModel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapExtGenerAcitviDDLDataTable">
      <http:operation location="/MapExtGenerAcitviDDLDataTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVstoExtensionVersion">
      <http:operation location="/GetVstoExtensionVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCFormAPI">
    <wsdl:port name="CCFormAPISoap" binding="tns:CCFormAPISoap">
      <soap:address location="http://localhost:28048/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormAPISoap12" binding="tns:CCFormAPISoap12">
      <soap12:address location="http://localhost:28048/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormAPIHttpGet" binding="tns:CCFormAPIHttpGet">
      <http:address location="http://localhost:28048/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CCFormAPIHttpPost" binding="tns:CCFormAPIHttpPost">
      <http:address location="http://localhost:28048/WF/CCForm/CCFormAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>