branches/LimsTongYang01/VSTO/CCFlowWord2007/Service References/DocFlow/DocFlow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSettingByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSettingByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSettingByKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoTypeDocFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p1" />
            <s:element minOccurs="0" maxOccurs="1" name="p2" />
            <s:element minOccurs="0" maxOccurs="1" name="p3" />
            <s:element minOccurs="0" maxOccurs="1" name="p4" />
            <s:element minOccurs="0" maxOccurs="1" name="p5" />
            <s:element minOccurs="0" maxOccurs="1" name="p6" />
            <s:element minOccurs="0" maxOccurs="1" name="p7" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoTypeDocFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoTypeDocFlowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerOID">
        <s:complexType />
      </s:element>
      <s:element name="GenerOIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerOIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CfgKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kev" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CfgKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CfgKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileByte" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vals" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveEnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValInt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValIntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLReturnValIntResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValFloat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnValFloatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLReturnValFloatResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseStringToPinyin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseStringToPinyinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParseStringToPinyinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSFTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ensName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSFTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSFTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEnum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enumKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enumLab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cfg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEnumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveEnumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="float" type="s:float" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSettingByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetSettingByKey" />
  </wsdl:message>
  <wsdl:message name="GetSettingByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetSettingByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="DoTypeDocFlowSoapIn">
    <wsdl:part name="parameters" element="tns:DoTypeDocFlow" />
  </wsdl:message>
  <wsdl:message name="DoTypeDocFlowSoapOut">
    <wsdl:part name="parameters" element="tns:DoTypeDocFlowResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnString" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnStringResponse" />
  </wsdl:message>
  <wsdl:message name="GenerOIDSoapIn">
    <wsdl:part name="parameters" element="tns:GenerOID" />
  </wsdl:message>
  <wsdl:message name="GenerOIDSoapOut">
    <wsdl:part name="parameters" element="tns:GenerOIDResponse" />
  </wsdl:message>
  <wsdl:message name="CfgKeySoapIn">
    <wsdl:part name="parameters" element="tns:CfgKey" />
  </wsdl:message>
  <wsdl:message name="CfgKeySoapOut">
    <wsdl:part name="parameters" element="tns:CfgKeyResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQL" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLsSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLs" />
  </wsdl:message>
  <wsdl:message name="RunSQLsSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveEnSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEn" />
  </wsdl:message>
  <wsdl:message name="SaveEnSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEnResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValInt" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValIntResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValFloat" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnValFloatResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableS" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableSResponse" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinSoapIn">
    <wsdl:part name="parameters" element="tns:ParseStringToPinyin" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinSoapOut">
    <wsdl:part name="parameters" element="tns:ParseStringToPinyinResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSFTable" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSFTableResponse" />
  </wsdl:message>
  <wsdl:message name="SaveEnumSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEnum" />
  </wsdl:message>
  <wsdl:message name="SaveEnumSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEnumResponse" />
  </wsdl:message>
  <wsdl:message name="GetSettingByKeyHttpGetIn">
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSettingByKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerOIDHttpGetIn" />
  <wsdl:message name="GenerOIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpGetIn">
    <wsdl:part name="kev" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpGetIn">
    <wsdl:part name="FileByte" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpGetIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpGetIn">
    <wsdl:part name="vals" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpGetIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpGetIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpGetIn">
    <wsdl:part name="ensName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpGetIn">
    <wsdl:part name="enumKey" type="s:string" />
    <wsdl:part name="enumLab" type="s:string" />
    <wsdl:part name="cfg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSettingByKeyHttpPostIn">
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSettingByKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerOIDHttpPostIn" />
  <wsdl:message name="GenerOIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpPostIn">
    <wsdl:part name="kev" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CfgKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpPostIn">
    <wsdl:part name="FileByte" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpPostIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpPostIn">
    <wsdl:part name="vals" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValIntHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnValFloatHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpPostIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParseStringToPinyinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpPostIn">
    <wsdl:part name="ensName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpPostIn">
    <wsdl:part name="enumKey" type="s:string" />
    <wsdl:part name="enumLab" type="s:string" />
    <wsdl:part name="cfg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveEnumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DocFlowSoap">
    <wsdl:operation name="GetSettingByKey">
      <wsdl:input message="tns:GetSettingByKeySoapIn" />
      <wsdl:output message="tns:GetSettingByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoTypeDocFlow">
      <wsdl:input message="tns:DoTypeDocFlowSoapIn" />
      <wsdl:output message="tns:DoTypeDocFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <wsdl:input message="tns:RunSQLReturnStringSoapIn" />
      <wsdl:output message="tns:RunSQLReturnStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <wsdl:input message="tns:GenerOIDSoapIn" />
      <wsdl:output message="tns:GenerOIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <wsdl:input message="tns:CfgKeySoapIn" />
      <wsdl:output message="tns:CfgKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLSoapIn" />
      <wsdl:output message="tns:RunSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsSoapIn" />
      <wsdl:output message="tns:RunSQLsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <wsdl:input message="tns:SaveEnSoapIn" />
      <wsdl:output message="tns:SaveEnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <wsdl:input message="tns:RunSQLReturnValIntSoapIn" />
      <wsdl:output message="tns:RunSQLReturnValIntSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <wsdl:input message="tns:RunSQLReturnValFloatSoapIn" />
      <wsdl:output message="tns:RunSQLReturnValFloatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <wsdl:input message="tns:RunSQLReturnTableSSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <wsdl:input message="tns:ParseStringToPinyinSoapIn" />
      <wsdl:output message="tns:ParseStringToPinyinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableSoapIn" />
      <wsdl:output message="tns:RequestSFTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <wsdl:input message="tns:SaveEnumSoapIn" />
      <wsdl:output message="tns:SaveEnumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DocFlowHttpGet">
    <wsdl:operation name="GetSettingByKey">
      <wsdl:input message="tns:GetSettingByKeyHttpGetIn" />
      <wsdl:output message="tns:GetSettingByKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <wsdl:input message="tns:RunSQLReturnStringHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnStringHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <wsdl:input message="tns:GenerOIDHttpGetIn" />
      <wsdl:output message="tns:GenerOIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <wsdl:input message="tns:CfgKeyHttpGetIn" />
      <wsdl:output message="tns:CfgKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileHttpGetIn" />
      <wsdl:output message="tns:UploadFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLHttpGetIn" />
      <wsdl:output message="tns:RunSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsHttpGetIn" />
      <wsdl:output message="tns:RunSQLsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <wsdl:input message="tns:SaveEnHttpGetIn" />
      <wsdl:output message="tns:SaveEnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <wsdl:input message="tns:RunSQLReturnValIntHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnValIntHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <wsdl:input message="tns:RunSQLReturnValFloatHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnValFloatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <wsdl:input message="tns:RunSQLReturnTableSHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnTableSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <wsdl:input message="tns:ParseStringToPinyinHttpGetIn" />
      <wsdl:output message="tns:ParseStringToPinyinHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableHttpGetIn" />
      <wsdl:output message="tns:RequestSFTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <wsdl:input message="tns:SaveEnumHttpGetIn" />
      <wsdl:output message="tns:SaveEnumHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DocFlowHttpPost">
    <wsdl:operation name="GetSettingByKey">
      <wsdl:input message="tns:GetSettingByKeyHttpPostIn" />
      <wsdl:output message="tns:GetSettingByKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <wsdl:input message="tns:RunSQLReturnStringHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnStringHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <wsdl:input message="tns:GenerOIDHttpPostIn" />
      <wsdl:output message="tns:GenerOIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <wsdl:input message="tns:CfgKeyHttpPostIn" />
      <wsdl:output message="tns:CfgKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileHttpPostIn" />
      <wsdl:output message="tns:UploadFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLHttpPostIn" />
      <wsdl:output message="tns:RunSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsHttpPostIn" />
      <wsdl:output message="tns:RunSQLsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <wsdl:input message="tns:SaveEnHttpPostIn" />
      <wsdl:output message="tns:SaveEnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <wsdl:input message="tns:RunSQLReturnValIntHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnValIntHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <wsdl:input message="tns:RunSQLReturnValFloatHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnValFloatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <wsdl:input message="tns:RunSQLReturnTableSHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnTableSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <wsdl:input message="tns:ParseStringToPinyinHttpPostIn" />
      <wsdl:output message="tns:ParseStringToPinyinHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableHttpPostIn" />
      <wsdl:output message="tns:RequestSFTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <wsdl:input message="tns:SaveEnumHttpPostIn" />
      <wsdl:output message="tns:SaveEnumHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocFlowSoap" type="tns:DocFlowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSettingByKey">
      <soap:operation soapAction="http://tempuri.org/GetSettingByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoTypeDocFlow">
      <soap:operation soapAction="http://tempuri.org/DoTypeDocFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <soap:operation soapAction="http://tempuri.org/GenerOID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <soap:operation soapAction="http://tempuri.org/CfgKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <soap:operation soapAction="http://tempuri.org/RunSQLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <soap:operation soapAction="http://tempuri.org/SaveEn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnValInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnValFloat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTableS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <soap:operation soapAction="http://tempuri.org/ParseStringToPinyin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <soap:operation soapAction="http://tempuri.org/RequestSFTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <soap:operation soapAction="http://tempuri.org/SaveEnum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocFlowSoap12" type="tns:DocFlowSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSettingByKey">
      <soap12:operation soapAction="http://tempuri.org/GetSettingByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoTypeDocFlow">
      <soap12:operation soapAction="http://tempuri.org/DoTypeDocFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <soap12:operation soapAction="http://tempuri.org/GenerOID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <soap12:operation soapAction="http://tempuri.org/CfgKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap12:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <soap12:operation soapAction="http://tempuri.org/RunSQLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <soap12:operation soapAction="http://tempuri.org/SaveEn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnValInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnValFloat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTableS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <soap12:operation soapAction="http://tempuri.org/ParseStringToPinyin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <soap12:operation soapAction="http://tempuri.org/RequestSFTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <soap12:operation soapAction="http://tempuri.org/SaveEnum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocFlowHttpGet" type="tns:DocFlowHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSettingByKey">
      <http:operation location="/GetSettingByKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <http:operation location="/RunSQLReturnString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <http:operation location="/GenerOID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <http:operation location="/CfgKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <http:operation location="/UploadFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <http:operation location="/RunSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <http:operation location="/RunSQLs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <http:operation location="/SaveEn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <http:operation location="/RunSQLReturnValInt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <http:operation location="/RunSQLReturnValFloat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <http:operation location="/RunSQLReturnTableS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <http:operation location="/ParseStringToPinyin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <http:operation location="/RequestSFTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <http:operation location="/SaveEnum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocFlowHttpPost" type="tns:DocFlowHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSettingByKey">
      <http:operation location="/GetSettingByKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnString">
      <http:operation location="/RunSQLReturnString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerOID">
      <http:operation location="/GenerOID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CfgKey">
      <http:operation location="/CfgKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <http:operation location="/UploadFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <http:operation location="/RunSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <http:operation location="/RunSQLs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEn">
      <http:operation location="/SaveEn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValInt">
      <http:operation location="/RunSQLReturnValInt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnValFloat">
      <http:operation location="/RunSQLReturnValFloat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTableS">
      <http:operation location="/RunSQLReturnTableS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseStringToPinyin">
      <http:operation location="/ParseStringToPinyin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <http:operation location="/RequestSFTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnum">
      <http:operation location="/SaveEnum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocFlow">
    <wsdl:port name="DocFlowSoap" binding="tns:DocFlowSoap">
      <soap:address location="http://localhost:50572/WF/DocFlow/DocFlow.asmx" />
    </wsdl:port>
    <wsdl:port name="DocFlowSoap12" binding="tns:DocFlowSoap12">
      <soap12:address location="http://localhost:50572/WF/DocFlow/DocFlow.asmx" />
    </wsdl:port>
    <wsdl:port name="DocFlowHttpGet" binding="tns:DocFlowHttpGet">
      <http:address location="http://localhost:50572/WF/DocFlow/DocFlow.asmx" />
    </wsdl:port>
    <wsdl:port name="DocFlowHttpPost" binding="tns:DocFlowHttpPost">
      <http:address location="http://localhost:50572/WF/DocFlow/DocFlow.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>