svn:/git.oschina.net/opencc/ccflow/branches/LimsTongYang01/DemoAndTesting/IndustrialAutomationWorkflow/Service References/ccbpmAPI/IndustrialAutomationWorkflowAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Node_CreateBlankWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flowNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Node_CreateBlankWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Node_CreateBlankWorkResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Node_SendWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flowNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nodeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="workid" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="toNodeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="toEmps" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Node_SendWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Node_SendWorkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Port_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Port_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Port_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="long" type="s:long" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Node_CreateBlankWorkSoapIn">
    <wsdl:part name="parameters" element="tns:Node_CreateBlankWork" />
  </wsdl:message>
  <wsdl:message name="Node_CreateBlankWorkSoapOut">
    <wsdl:part name="parameters" element="tns:Node_CreateBlankWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Node_SendWorkSoapIn">
    <wsdl:part name="parameters" element="tns:Node_SendWork" />
  </wsdl:message>
  <wsdl:message name="Node_SendWorkSoapOut">
    <wsdl:part name="parameters" element="tns:Node_SendWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Port_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Port_Login" />
  </wsdl:message>
  <wsdl:message name="Port_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:Port_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Node_CreateBlankWorkHttpGetIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="flowNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Node_CreateBlankWorkHttpGetOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="Node_SendWorkHttpGetIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="flowNo" type="s:string" />
    <wsdl:part name="nodeID" type="s:string" />
    <wsdl:part name="workid" type="s:string" />
    <wsdl:part name="toNodeID" type="s:string" />
    <wsdl:part name="toEmps" type="s:string" />
    <wsdl:part name="paras" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Node_SendWorkHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Port_LoginHttpGetIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Port_LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Node_CreateBlankWorkHttpPostIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="flowNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Node_CreateBlankWorkHttpPostOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="Node_SendWorkHttpPostIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="flowNo" type="s:string" />
    <wsdl:part name="nodeID" type="s:string" />
    <wsdl:part name="workid" type="s:string" />
    <wsdl:part name="toNodeID" type="s:string" />
    <wsdl:part name="toEmps" type="s:string" />
    <wsdl:part name="paras" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Node_SendWorkHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Port_LoginHttpPostIn">
    <wsdl:part name="userNo" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Port_LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="IndustrialAutomationWorkflowWSAPISoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <wsdl:input message="tns:Node_CreateBlankWorkSoapIn" />
      <wsdl:output message="tns:Node_CreateBlankWorkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <wsdl:input message="tns:Node_SendWorkSoapIn" />
      <wsdl:output message="tns:Node_SendWorkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <wsdl:input message="tns:Port_LoginSoapIn" />
      <wsdl:output message="tns:Port_LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IndustrialAutomationWorkflowWSAPIHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <wsdl:input message="tns:Node_CreateBlankWorkHttpGetIn" />
      <wsdl:output message="tns:Node_CreateBlankWorkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <wsdl:input message="tns:Node_SendWorkHttpGetIn" />
      <wsdl:output message="tns:Node_SendWorkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <wsdl:input message="tns:Port_LoginHttpGetIn" />
      <wsdl:output message="tns:Port_LoginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IndustrialAutomationWorkflowWSAPIHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <wsdl:input message="tns:Node_CreateBlankWorkHttpPostIn" />
      <wsdl:output message="tns:Node_CreateBlankWorkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <wsdl:input message="tns:Node_SendWorkHttpPostIn" />
      <wsdl:output message="tns:Node_SendWorkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <wsdl:input message="tns:Port_LoginHttpPostIn" />
      <wsdl:output message="tns:Port_LoginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndustrialAutomationWorkflowWSAPISoap" type="tns:IndustrialAutomationWorkflowWSAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <soap:operation soapAction="http://tempuri.org/Node_CreateBlankWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <soap:operation soapAction="http://tempuri.org/Node_SendWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <soap:operation soapAction="http://tempuri.org/Port_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IndustrialAutomationWorkflowWSAPISoap12" type="tns:IndustrialAutomationWorkflowWSAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <soap12:operation soapAction="http://tempuri.org/Node_CreateBlankWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <soap12:operation soapAction="http://tempuri.org/Node_SendWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <soap12:operation soapAction="http://tempuri.org/Port_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IndustrialAutomationWorkflowWSAPIHttpGet" type="tns:IndustrialAutomationWorkflowWSAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <http:operation location="/Node_CreateBlankWork" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <http:operation location="/Node_SendWork" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <http:operation location="/Port_Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IndustrialAutomationWorkflowWSAPIHttpPost" type="tns:IndustrialAutomationWorkflowWSAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_CreateBlankWork">
      <http:operation location="/Node_CreateBlankWork" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node_SendWork">
      <http:operation location="/Node_SendWork" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Port_Login">
      <http:operation location="/Port_Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndustrialAutomationWorkflowWSAPI">
    <wsdl:port name="IndustrialAutomationWorkflowWSAPISoap" binding="tns:IndustrialAutomationWorkflowWSAPISoap">
      <soap:address location="http://localhost:2779/DataUser/IndustrialAutomationWorkflowAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="IndustrialAutomationWorkflowWSAPISoap12" binding="tns:IndustrialAutomationWorkflowWSAPISoap12">
      <soap12:address location="http://localhost:2779/DataUser/IndustrialAutomationWorkflowAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="IndustrialAutomationWorkflowWSAPIHttpGet" binding="tns:IndustrialAutomationWorkflowWSAPIHttpGet">
      <http:address location="http://localhost:2779/DataUser/IndustrialAutomationWorkflowAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="IndustrialAutomationWorkflowWSAPIHttpPost" binding="tns:IndustrialAutomationWorkflowWSAPIHttpPost">
      <http:address location="http://localhost:2779/DataUser/IndustrialAutomationWorkflowAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>